.q-toolbar__title {
	display: flex;
	align-items: center;
}


#logo {
	margin-right: 14px;
	font-size: 1.8em;
}

#app_title {
	font-size: 1.45em;
}

#basic_menu {
	z-index: 2;
	background-color: white;
	position: absolute;
	right: 0px;
	top: 80px;
	padding: 1em;
	border: 1px solid #ddd;
}