@import 'Variables.scss';

/***********************************/
/* !Mini view
/***********************************/

.mini_film {
	
	border:		1px solid #eee;
	margin-top:	-1px;
	padding:	0.66em;
	display:	flex;

	&:nth-child(odd) {
		background-color: 	$striped_list_odd;

	}

	&.click_to_add:hover,
	&.click_to_add:nth-child(odd):hover {
		background-color: 	$striped_list_hover;
	}

	&.click_to_add {
		cursor: pointer;
	}

	.poster {

		margin-right: 1em;

		img {
			width: 		100px;
			display:	block;
		}

	}

	.info {

		.title {
			font-weight: 	bold;
			font-size: 		2em;
		}

		.year {
			font-style: 	italic;
			font-size: 		1.2em;
		}

	}


}