/**************************/
/* !THE CORE ELEMENTS
/**************************/


:root {
	--dark-blue: rgb(56,116,203)/* was #A7C4E0; */
}

html {
	font-size: 16px;
	  
	/* @media screen and (min-width: 900px) {
	  font-size: 18px;
	}
	  
	@media screen and (min-width: 1200px) {
	  font-size: 20px;
	} */
}

body {
	background-color: white;

	font-family: Raleway, Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	margin: 0px !important;

    /* min-height: 100%; /* was in quasar base styles, prob not needed */
}

#info_bar, #info_bar * {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;

}



/* @media screen and ( min-width: 768px ) { */
	.game_world_root {
		width: 340px;
		height: 618px;
		margin: 30px auto
	}
/* } */

@media screen and ( max-width: 767px ) and (hover: none) {
	.game_world_root {
		width: 100%;
		height: auto;
		margin: 0 auto;
	}

}

@media screen and ( max-width: 767px ) and (hover: none) {
	html {
		height: 100%;
	}

	body {
		margin: 0;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	#app,
	#page,
	.flx {
		flex-grow: 1;
		display: flex;
	}

	.game_world_root {
		flex-grow: 1;

		display: flex;
		/* justify-content: flex-start; */
	}

	.screen {
		flex-grow: 1;

		display: flex;
		flex-direction: column;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.mob_style.game_world_root {
	display: flex;
	/* justify-content: flex-start; */
}

.mob_style .screen {
	flex-grow: 1;

	display: flex;
	flex-direction: column;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.game_world_root.dev {
	margin: initial
}

.show_menu #menu,
.show_selecting_online #selecting_online,
.show_pnp #pnp_game,
.show_end #end_game {
	display: flex;
}

.show_selecting_online #menu,
.show_online #menu,
.show_pnp #menu,
.show_end #menu,

.show_menu #selecting_online,
.show_pnp #selecting_online,
.show_online #selecting_online,
.show_end #selecting_online,

.show_menu #online_game,
.show_selecting_online #online_game,
.show_pnp #online_game,
.show_end #online_game,

.show_menu #pnp_game,
.show_selecting_online #pnp_game,
.show_online #pnp_game,
.show_end #pnp_game,

.show_menu #end_game,
.show_selecting_online #end_game,
.show_online #end_game,
.show_pnp #end_game

{
	display: none
}

/* @font-face  {
	font-family: 'Raleway';
	src: url('/scaffolding/fonts/Raleway/Raleway-VariableFont_wght.ttf');
} */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/**************************/
/* !FLEXBOX MODEL (PART)
/**************************/

.game_world {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}


/**************************/
/* !THE BOARD
/**************************/

.board {
	border-collapse: collapse;
	cursor: pointer;
    width: 100%;
}

.board td {
	width: 50px;
	height: 50px;
	border: 4px solid black;
	text-align: center;
}

@media screen and ( max-width: 767px ) and (hover: none) {
	.board td {
		width: 14.58vw;
		height: 14.58vw;
		border: 1.1vw solid black;
		line-height: 1em;
	}

}

/**************************/
/* !THE BASIC PIECES
/**************************/

.divinely_inspired {
	background-color: #f2d773;
}

.baboon.angel {
	font-size: 37px;
	position: relative;
	top: 3px;
}

.baboon.mortal {
	font-size: 28px;
	position: relative;
	top: 3px;
}

.hippo.angel {
	font-size: 38px;
	position: relative;
	top: -2px;
}

.hippo.mortal {
	font-size: 28px;
	position: relative;
	top: 0px;
}

@media screen and ( max-width: 767px ) and (hover: none) {
	.baboon.angel {
		/* all good */
	}
}

/**************************/
/* !MOVE INDICATORS
/**************************/

.selected {
	animation: pulse_selected 4s ease-in-out infinite alternate;
}

.selected.divinely_inspired {
	animation: pulse_selected_inspired 4s ease-in-out infinite alternate;
}

@keyframes pulse_selected {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: #66FFCC;
	}
	100% {
		background-color: transparent;
	}
}

@keyframes pulse_selected_inspired {
	0% {
		background-color: #f2d773;
	}
	50% {
		background-color: transparent;
	}
	100% {
		background-color: #f2d773;
	}
}




/******************************/
/* !======================== */
/* !==  SCREENS  =========== */
/*****************************/

/**************************/
/* !SCREENS IN GENERAL
/**************************/

.flx { /* For elements needing to fill the vertical space */
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#menu,
#selecting_online,
#end_game {
	border: 4px solid black;
	text-align: center;
	box-sizing: border-box;
}

#menu,
#end_game {
	padding: 20px 5% 80px;
}

h1.page_title {
	font-size: 42px;
	font-weight: bold;
	margin-bottom: 18px;
	color: #383838;
	text-transform: uppercase;
}


/**************************/
/* !RULES
/**************************/

#rules_content_zone {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

#rule_images {
	justify-content: center;
}

#rule_images img {
	max-width: 95%;
	max-height: 79vh;
	margin: 0 auto;
}


/**************************/
/* !ONLINE MENU
/**************************/

.screen#selecting_online {
	justify-content: start;
}

#selecting_online h2 {
	font-size: 36px;
	text-transform: uppercase;
	margin: 0 0 0.2em;
}

#inner_selecting_online {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 20px 5% 60px;
}

.form {
	padding: 1em 5%;
}

.form .s_label {
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 0.4em;
	padding-left: 1px;
}
.form .s_input input[type="text"],
.form .s_input input[type="password"] {
	font-size: 24px;
	height: 2em;
	margin-bottom: 1em;
	width: 100%;
}

.form button {
	font-size: 24px;
	padding: 20px 0;
	width: 100%;
	text-transform: uppercase;
}

.form_error_container {
}

.form_error {
	color: #971201;
    font-weight: bold;
    margin-top: 1.5em;
}



/**************************/
/* !BUTTONS
/**************************/

.button,
a.button {
	display: block;
	
	background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
	flex: 1 1 auto;
	margin: 10px 10px 22px;
	padding: 15px 30px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	transition: 0.5s;
	background-size: 200% auto;
	 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;

	color: white;
	font-weight: bold;
	font-size: 22px;
}

.button:hover {
	background-position: right center;
}


/**************************/
/* !VICTORY SCREEN
/**************************/

#end_game {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

#victory {
	font-size: 42px;
	font-weight: bold;
	margin-bottom: 18px;
	color: #383838;
	text-transform: uppercase;
}

#type_of_victory {
	font-size: 16px;
	line-height: 1.33em;
	color: #555;
}

#menu_button_after_victory {
	font-size: 18px;
	margin-top: 18px;
	text-decoration: none;
	color:#5700D1;
	font-weight: bolder;
	text-transform: uppercase;
}

/**************************/
/* ONLINE SIMULATOR
/**************************/

/* ==========================================================================
/* Online Simulator
*/


@media (hover:none), (hover:on-demand) {
	#online_simulator {
		display: none;
	}
}



/* ==========================================================================
from SCSS
*/

/* !THE INFO BAR
/**************************/

#bottom_zone {
	background: #a7c4e0;
	display: flex;
	flex-grow: 1;
	justify-content: center
}

#rules_page #bottom_zone {
	min-height: 11vh;
	flex-grow: unset;
}

#bz_content {
	background: #7c98b3;
	display: flex;
	flex-grow: 1;
	width: 100%
}

@media screen and (max-width:767px) and (hover:none) {
	#bz_content {
		flex-grow: unset;
		justify-content: center;
		max-height: 85px
	}

	#bottom_zone {
		display: flex
	}
}

#info_bar {
	align-items: center;
	background: #7c98b3;
	border-radius: 12px;
	display: flex;
	margin-top: 1em;
	padding: 20px;
	text-align: center;
	width: 100%
}

@media screen and (max-width:767px) and (hover:none) {
	#info_bar {
		margin-top: 0;
		padding: 0
	}
}

.mob_style #info_bar {
	margin-top: 0;
	padding: 0
}

#info_bar #item_flex_container {
	display: flex;
	margin: 0 auto
}

#info_bar .s_item {
	align-content: center;
	background-color: #a7c4e0;
	border-radius: 6px;
	color: #fff;
	display: inline-block;
	display: flex;
	flex-direction: column;
	font-size: .875rem;
	height: 40px;
	justify-content: center;
	margin-right: 15px;
	padding: 3px 6px;
	position: relative
}

#info_bar .s_item.large_button {
	padding: 3px 16px;
}

#info_bar .s_item.large_button,
#info_bar .s_item.large_button .s_text {
	font-size: 1em;
	letter-spacing: 0.04em;
}

#info_bar .s_item .s_badge {
	bottom: 3px;
	font-size: .571em;
	position: absolute;
	right: 3px
}

#info_bar .s_item.piece_has_moved {
    background-color: rgb(105,	127, 191)
}

#info_bar .s_item.inspiration_has_moved {
    background-color: rgb(105,	127, 191)
}

#info_bar .s_item.inspiration {
	font-size: 0.85em
}

#info_bar .inspiration.s_item,
#info_bar .piece.s_item {
	width: 25px
}

#info_bar .s_item .s_text {
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase
}

#info_bar .s_item.s_text_only {
	padding-left: 18px;
	padding-right: 18px
}

#info_bar .s_item:last-child {
	margin-right: 0
}

#info_bar .current_player.s_item {
	padding: 3px 8px
}

.cpi.baboon {
	font-size: 120%;
	margin-right: 2px
}

.cpi.hippo {
	display: inline-block;
	font-size: 170%;
	margin-right: 2px;
	padding-bottom: 5px
}

.cpi.blue,
.cpi.red {
	display: inline-block;
	height: 25px;
	position: relative;
	top: 2px;
	width: 25px
}

.cpi.red {
	background-color: #971201
}

.cpi.blue {
	background-color: #061d98
}

.oi {
	height: 43px;
	position: relative;
	top: 2px
}

.player_pulse {
	animation: player_pulse 4s ease-in-out 0s 1;
	animation-iteration-count: 100
}
/* !NEW TURN PULSE STYLES (PARTWAY DONE)

GameWorld.vue changes are at https://github.com/tog22/gods_vue/commit/f14faff612692f26938461902f6907023e335d8f


#info_bar .s_item {
	display: inline-block;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	color: white;
}

#info_bar .s_item .s_rounded {
	display: table-cell;
	vertical-align: middle;

	background-color: #A7C4E0;
	margin-right: 15px;
	border-radius: 6px;
	height: 40px;
	padding: 3px 6px;
}

@keyframes player_pulse {
	0% {
		background-color: #A7C4E0;
	}
	50% {
		background-color: #B4D4F2;
	}
	100% {
		background-color: #A7C4E0;
	}
}

@keyframes pulse_selected {
	0% {
		background-color: #A7C4E0;
	}
	50% {
		background-color: #E1EDF8;
	}
	100% {
		background-color: #A7C4E0;
	}
}

Remove after playing with :

$("#info_bar .current_player.s_item").on(
	"transitionend MSTransitionEnd webkitTransitionEnd oTransitionEnd",
	function() {
		$(this).removeClass("player_pulse");
	}
);

*/